img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    aspect-ratio: 1 / 1;
}

audio {
    width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    border-radius: 90px;
}