/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #def0f9;
}

body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    width: 100%;
}

/*logo*/
#logo img {
    max-width: 100%;
    vertical-align: middle;
    max-height: 53px !important;
}

#logo {
    float: left;
}

#logo_link {
    margin: 0;
    padding: 0;
}


/* end of logo*/

.main {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}


.btn {
    color: #000000;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 !important;
    border: rgb(155, 223, 235) outset 2px;
    border-radius: 10px;
    border-right: none;
    border-left: none;
}

.cards_item {
    display: flex;
    padding: 1rem;
}

@media (min-width: 40rem) {
    .cards_item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards_item {
        width: 33.3333%;
    }
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }

    /*#logo img {
        visibility: hidden;
    }*/
    /* Disabling this for now as we don't have enough tabs for it to be relevant*/
}

.navbar {
    overflow: auto;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.active {
    background-color: #04AA6D;
}

#SideNav {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#SideNav a:hover,
#SideNav a:visited:hover {
    color: #34506d;
}

.seperate_symbol {
    color: rgb(8, 124, 0);
}

#SideNav a,
#SideNav a:visited {
    color: rgb(0, 133, 133);
    text-decoration: none;
    font-size: xx-large;
}

.card {
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card_content {
    padding: 1rem;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    ;
}

.card_title {
    color: #000000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
}

.card_text {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-weight: 400;
}

#page_text {
    font-size: 35px;
    text-align: center;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}